$c-primary: #3d5a80;
$c-primary-hover: #870044;
$c-1: #fff;
$c-2: #012b84;
$c-3: #f7f5f0;
$c-4: #f50000;
$c-5: #080d13;
$c-6: #7c7f84;
$c-7: #0551c3;
$c-8: #172334;
$c-9: #2e3948;
$c-10: #a2a7ae;
$c-11: #e4e4e6;
$c-12: #f2f2f4;
$c-13: #00ab00;
$shadow: 0 0 32px rgb(23 35 52 / 8%);
$backdrop: rgb(8 13 19 / 50%);
