@import '~/ui-library/app';

.root {
  display: grid;
  grid-template-columns: 260px 1fr;
  background-color: hsl(230deg 30% 25%);

  @include to-s {
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
  }
}
